@model IAssetAdministrationShell
@using BaSyx.Models.Core.AssetAdministrationShell.Generics

@if (Model != null)
{
    <div class="card bg-dark mb-3">
        <div class="card-header"><h4 class="text-white">Asset Administration Shell</h4></div>
        <ul class="list-group list-group-flush">
            @await Html.PartialAsync("_IdShort", Model.IdShort)
            @await Html.PartialAsync("_Identifier", Model.Identification)
            @await Html.PartialAsync("_Description", Model.Description)
        </ul>
    </div>
}