@model string

@if (Model != null)
{
    <li class="list-group-item">
        <div class="row align-items-center">
            <div class="col-sm-2"><b>IdShort</b></div>
            <div class="col-sm-10">@Model</div>
        </div>
    </li>
}