<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} - ${level} - ${logger} - ${message} ${exception:format=ToString,StackTrace}${newline}" />
    <target name="file" xsi:type="File"
      layout="${longdate} - ${level} - ${logger} - ${message} ${exception:format=ToString,StackTrace}${newline}"
      fileName="${basedir}/logs/logfile.txt"
      keepFileOpen="true"
      maxArchiveFiles="10"
      archiveAboveSize="1048576"
      encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>