@page
@model BaSyx.Common.UI.Pages.SubmodelModel
@using BaSyx.API.Components;
@using BaSyx.Models.Core.AssetAdministrationShell.Generics;
@using BaSyx.Utils.Settings.Types;

@{
    ISubmodelServiceProvider sp = Model.ServiceProvider;
    ServerSettings settings = Model.Settings;
    ISubmodel submodel = sp.GetBinding();

    ViewData["Title"] = settings.UIConfig?.Title ?? submodel.IdShort;
    ViewData["ApiRoot"] = "/submodel";
    ViewData["ApiType"] = "Submodel";
    ViewData["aasId"] = string.Empty;
}


<div class="starter-template">
    <h1>@submodel.IdShort - Submodel UI</h1>
    <p class="lead">Generic UI to discover the Submodel </p>
</div>

@await Html.PartialAsync("_Submodel", submodel)



