@page
@model BaSyx.Common.UI.Pages.SubmodelRepositoryModel
@using BaSyx.API.Components;
@using BaSyx.Models.Core.AssetAdministrationShell.Generics;
@using BaSyx.Utils.Settings.Types;

@{
    ISubmodelRepositoryServiceProvider sp = Model.ServiceProvider;
    ServerSettings settings = Model.Settings;

    IEnumerable<ISubmodelServiceProvider> submodelServiceProviders = null;
    var retrievedSubmodelServiceProvider = sp.GetSubmodelServiceProviders();
    if (retrievedSubmodelServiceProvider.Success && retrievedSubmodelServiceProvider.Entity != null)
    {
        submodelServiceProviders = retrievedSubmodelServiceProvider.Entity;
    }

    ViewData["Title"] = settings.UIConfig?.Title ?? "Submodel Repository";
    ViewData["ApiRoot"] = "/submodels";
    ViewData["ApiType"] = "SubmodelRepository";
    ViewData["aasId"] = string.Empty;
}


<div class="starter-template">
    <h1>Submodel Repository UI</h1>
    <p class="lead">Generic UI to discover the Submodel Repository</p>
</div>

@if (submodelServiceProviders?.Count() > 0)
{
    foreach (var submodelServiceProvider in submodelServiceProviders)
    {
        ISubmodel submodel = submodelServiceProvider.GetBinding();
        @await Html.PartialAsync("_Submodel", submodel)
    }
}



